.App {
  text-align: center;
  background-color: #5a5560;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Root for the App */
:root{
  background-color: #5a5560;
  --bs-link-color:rgb(70, 52, 78) !important;
  --bs-link-hover-color:#5a5560 !important;
}

.App-header {
  background-color: #00cec9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-movies-wrapper,.main-page-section-two,.popular-movies-wrapper,.top-rated-popular-movies-wrapper,.released-2022-movies-wrapper,.tv-series-wrapper{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.movie-card-title{
  display: flex;
  justify-content: space-between;
  align-items: unset;
}

.card-img-overlay{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

.card-top-rated{
  cursor: pointer;
  transition: .5s;
}
.card-top-rated:hover{
  transition: 0.2s;
  transform: scale(.95);
}

.card{
  --bs-card-bg:#9d8d8f !important;
  color: #fff;
}

h1{
  background-image: linear-gradient(#faed26,#5a5560);
  color: #5a5560;
  font-family: 'Croissant One', cursive  !important;
  padding-bottom: 10px;
  -webkit-text-stroke: 2px #46344e
}

a{
  text-decoration: none !important;
}

.dCQPbG{
  background: #f8f9fa !important;
  border: none;
}

.vdkON{
  font-size: xx-large;
}

.logo-footer-img:hover{
  cursor: pointer;
}

.login-btn{
  color: #000 !important;
  text-decoration: none !important;
  width: inherit;
}

.signup-link{
  margin-right: auto !important;
  cursor: pointer;
  color: #faed26;
}

.signup-link:hover{
  color: #9d8d8f !important;
}

.background-image{
  background: rgb(200, 200, 200);
  height: calc(100vh - 30rem);
  min-height: 50rem;
  max-height: 57rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-inner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 151px, rgba(255, 255, 255, 0.2) 100%);
  height: calc(100vh - 30rem);
  min-height: 50rem;
  max-height: 57rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-image{
  display: flex;
  position: absolute;
  gap: 10vw;
}

.poster-image{
  width: 400px;
  height: 600px;
  margin: 95px 0 0 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 5px grey;
}

.movie-details{
  color: #fff;
  text-align: start;
  width: 600px;
  align-self: center;
}

.add-to-gallery-btn{
  height: 4.4rem;
  border-radius: 0 0 15px 15px !important;
  position: absolute;
  bottom: calc(65% - 28.3rem);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 402px;
  margin-left: 99px;
  border-top: none !important;
}
.add-to-gallery-btn:hover{
  background-color: #faed26 !important;
  color: #46344e !important;
}
.add-to-gallery-btn:active{
  background-color: #46344e !important;
  color: #faed26 !important;
}
.add-to-gallery-btn:focus{
  background-color: #46344e !important;
  color: #faed26 !important;
}
.notification-msg{
  height: 4.4rem;
  border-radius: 0 0 15px 15px !important;
  position: absolute;
  bottom: calc(143% - 28.3rem);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 402px;
  margin-left: 99px;
  border-top: none !important;
}

/* Scroll bar */
.react-horizontal-scrolling-menu--wrapper{
  margin: 0vh 1vw 0 1vw;
}
.top-billed-cast-title,.trailer,.more-info{
  text-align: start;
  margin: 40px 0px 0px 100px;
}

.scroll-bar{
  display: flex;
  gap: 30px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-bar::-webkit-scrollbar {
  display: none;
}

.actor-photo{
  width: 195px;
  height: 215px;
  border-radius: 50%;
  margin: 20px 20px 0px 20px;
  box-shadow: 0px 0px 15px 1px #faed26;
}

.arrow-btn-scroll{
  place-self: center;
  font-size: xx-large;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  color: #46344e;
  transition: 0.3s;
}

.arrow-btn-scroll:hover{
  transition: 0.3s;
  transform: scale(1.5);
}
/* divider */
.movie-details-divider{
  width: 80vw;
  margin: auto;
  margin-top: 40px;
}

/* Section two movie details */
.section-two-movie-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0vh 4vw 4vh 0vw;
  color: #fff;
}
.trailer{
  align-self: start;
}

.company-photo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.genres-line{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* My Gallery */

.myGallery-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.delete-button{
  color: #fff;
  font-size:x-large ;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover{
  transform: scale(1.5);
  color: #ff5252;
}

/* Nav Bar */
.navbar{
  background-color: #faed26 !important;
}
.navbar-collapse{
  background-color:#46344e !important;
  border-radius: 44px;
  font-size: large;
  padding: 5px;
}
.navbar{
  --bs-navbar-color: #faed26 !important;
  --bs-navbar-hover-color : #fff !important;
  --bs-navbar-active-color: #fff !important;
}
.d-flex{
  margin-right: 30px !important;
}
.me-2{
  border-radius: 20px !important; 
}
.navbar-brand{
  color: #46344e !important;
}

h2{
  color: #faed26;
}

.background-color-transparent{
  background-color:transparent !important
}


/* Form Account */

.label-input{
  text-align: start;
  margin-top: 20px;
  color: #fff;
}

.text-muted-app{
  color: #9d8d8f !important;
}

.mg-bottom{
  margin-bottom: 3vh;
}

.modal-dialog-app>.modal-dialog{ /* to spacify only search movie Modal */
 max-width: 50vw !important;
}

/* search btn */
.btn-outline-success{
  --bs-btn-bg:#faed26 !important;
  border-radius: 20px !important;
  border: none !important;
  --bs-btn-color: #46344e !important;
  --bs-btn-hover-bg: #46344e !important;
  --bs-btn-active-bg: #46344e !important;
}
.btn-info{
  --bs-btn-color: #fff !important;
  --bs-btn-bg:#46344e !important;
  --bs-btn-border-color: #46344e !important;
  --bs-btn-hover-bg: #faed26 !important;
  --bs-btn-hover-border-color: #faed26 !important;
  --bs-btn-active-bg: #faed26 !important;
  --bs-btn-active-border-color: #faed26 !important;
  --bs-btn-hover-color: #46344e !important;
}
.main-page-section-two{
  margin-bottom: 0 !important;
}
.category-container{
  background-image: linear-gradient(#5a5560,#faed26);
  padding-bottom: 50px;
}
.bg-color{
  background-color: #faed26;
}

.spinner-div{
  margin-top: 48vh;
}

.btn-success{
  --bs-btn-color: #46344e !important;
  --bs-btn-bg: #faed26 !important;
  --bs-btn-border-color: #46344e !important;
  --bs-btn-hover-color: #faed26 !important;
  --bs-btn-hover-bg: #46344e !important;
  --bs-btn-hover-border-color: #faed26 !important;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #46344e !important;
  --bs-btn-active-bg: #faed26 !important;
  --bs-btn-active-border-color: #faed26 !important;
}
.btn-outline-danger{
  --bs-btn-color: #faed26 !important;
  --bs-btn-border-color: #faed26 !important;
  --bs-btn-hover-color: #fff;
}

.font-size-rem{
  font-size: 1.2rem !important;
}
.dropdown-menu{
  background-color: #46344e !important;
}

.yellow-color-font{
  color: #faed26 !important;
}
.dropdown-item:hover{
  background-color: #5a5560 !important;
}
.modal-content{
  background-color: #46344e !important;
}
.modal-header,.modal-body{
  color: #faed26 !important;
}
.btn-login,.btn-signup{
  color: #46344e !important;
  background-color: #faed26 !important;
  border: none !important;
}
.btn-login:hover,.btn-signup:hover{
  color: #faed26 !important;
  background-color: #46344e !important;
}
.btn-close-form{
  color: #46344e !important;
  background-color: #9d8d8f !important;
  border: none !important;
}
.btn-close-form:hover{
  color: #faed26 !important;
  background-color: #46344e !important;
}

.font-size-rem{
  font-size: 1.3rem;
}
.first-letter-account{
  width: 40px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  color: #46344e;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faed26;
  margin-right: 10px;
}
.popup-welcome{
  color: #faed26 !important;
  background-color: #46344e;
  font-size: 1.3rem;
}