.App {
  text-align: center;
  background-color: #00cec9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Backgroud Color for the App */
:root{
  background-color: #00cec9;
}

.App-header {
  background-color: #00cec9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-movies-wrapper,.main-page-section-two,.popular-movies-wrapper,.top-rated-popular-movies-wrapper,.released-2022-movies-wrapper,.tv-series-wrapper{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.movie-card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-overlay{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

.card-top-rated{
  cursor: pointer;
}

h1{
  font-family: 'Pattaya', sans-serif;
  background: #81ecec;
  color: #00cec9;
}

a{
  text-decoration: none !important;
}

.dCQPbG{
  background: #f8f9fa !important;
  border: none;
}

.vdkON{
  font-size: xx-large;
}

.logo-footer-img:hover{
  cursor: pointer;
}

.login-btn{
  color: #000 !important;
  text-decoration: none !important;
  width: inherit;
}

.signup-link{
  margin-right: auto !important;
  cursor: pointer;
}

.signup-link:hover{
  color: #0D6EFD !important;
}

.background-image{
  background: rgb(200, 200, 200);
  height: calc(100vh - 30rem);
  min-height: 50rem;
  max-height: 57rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image-inner{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 151px, rgba(255, 255, 255, 0.2) 100%);
  height: calc(100vh - 30rem);
  min-height: 50rem;
  max-height: 57rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-image{
  display: flex;
  position: absolute;
  gap: 10vw;
}

.poster-image{
  width: 400px;
  height: 600px;
  margin: 95px 0 0 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 5px grey;
}

.movie-details{
  color: #fff;
  text-align: start;
  width: 600px;
  align-self: center;
}

.add-to-gallery-btn{
  height: 4.4rem;
  border-radius: 0 0 15px 15px !important;
  position: absolute;
  bottom: calc(65% - 28.3rem);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 402px;
  margin-left: 99px;
  border-top: none !important;
}

/* Scroll bar */
.react-horizontal-scrolling-menu--wrapper{
  margin: 0vh 1vw 0 1vw;
}
.top-billed-cast-title,.trailer,.more-info{
  text-align: start;
  margin: 40px 0px 0px 100px;
}

.scroll-bar{
  display: flex;
  gap: 30px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll-bar::-webkit-scrollbar {
  display: none;
}

.actor-photo{
  width: 195px;
  height: 215px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 1px black;
}

.arrow-btn-scroll{
  place-self: center;
  font-size: xx-large;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.arrow-btn-scroll:hover{
  transform: scale(1.5);
}
/* divider */
.movie-details-divider{
  width: 80vw;
  margin: auto;
  margin-top: 40px;
}

/* Section two movie details */
.section-two-movie-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0vh 4vw 4vh 0vw;
  color: #fff;
}
.trailer{
  align-self: start;
}

.company-photo{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.genres-line{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* My Gallery */

.myGallery-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.delete-button{
  color: #fff;
  font-size:x-large ;
  cursor: pointer;
  transition: 0.3s;
}

.delete-button:hover{
  transform: scale(1.5);
  color: #ff5252;
}

/* Nav Bar */
.navbar{
  background-color: #81ecec !important;
}
.navbar-collapse{
  background-color: rgb(0, 206, 201) !important;
  border-radius: 44px;
  font-size: large;
  padding: 5px;
}
.d-flex{
  margin-right: 30px !important;
}
.btn-outline-success{
  border-radius: 20px !important;
  background-color: #81ecec !important;
  border: none !important;
}
.me-2{
  border-radius: 20px !important; 
}
.navbar-brand{
  color: rgb(0, 206, 201) !important;
}

h2{
  color: #81ecec;
}

.background-color-transparent{
  background-color:transparent !important
}

/* Movies details page */
.btn-outline-secondary{
  --bs-btn-hover-bg: #00cec9 !important
}

/* Form Account */

.label-input{
  text-align: start;
  margin-top: 20px;
  color: #fff;
}

.text-muted-app{
  color: #81ecec !important;
}