.App {
  text-align: center;
  background-color: #f8f9fa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Backgroud Color for the App */
:root{
  background-color: #f8f9fa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-movies-wrapper,.main-page-section-two,.popular-movies-wrapper{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.movie-card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-overlay{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: fit-content;
}

.card-top-rated{
  cursor: pointer;
}